<div class="container-fluid">
  <div class="col-6">
    <table class="table table-dark">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of courses">
          <td>
            <dd>{{ c.numero }}</dd>
          </td>
          <td>
            <dd>{{ c.name }}</dd>
          </td>
          <td>
            <dd>{{ c.channel }}</dd>
          </td>
          <td>
            <dd>{{ c.seasons }}</dd>
          </td>
        </tr>
      </tbody>
    </table>
    <p>Seasons average : 5.125</p>
  </div>
</div>
